/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Inter", sans-serif;
}
.font-big {
  font-size: 48px;
}
.font-medium {
  font-size: 32px;
}
.font-small {
  font-size: 16px;
}
.bold {
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: black;
}
section {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-banner {
  width: 100%;
}
#main-banner-mobile {
  width: 100%;
  display: none;
}
#infos-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 70%;
  padding: 6px;
}
#network-infos {
  margin-bottom: 65px;
  text-align: center;
}
#network-text-infos {
  text-align: left;
  max-width: 766px;
  min-width: 200px;
}
#main-title {
  margin-bottom: 20px;
}
#title-medium-text {
  margin-bottom: 20px;
}
#title-big-text {
  margin-bottom: 40px;
}
#three-pc-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
#three-pc-img {
  max-width: 500px;
  min-width: 239px;
}
#cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 186px;
  margin-bottom: 107px;
}
#cards-section {
  background-color: #f0f0f0;
  padding: 73px 0px;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 288px;
  width: 350px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.192);
  margin: 0px 10px;
}

.card-img {
  margin-bottom: 10px;
}
.card-text {
  width: 299px;
  text-align: center;
}
#mid-cards-container-desktop {
  width: 100%;
  background-color: #e0e0e0;
  height: 442px;
  display: flex;
  justify-content: center;
}

#mid-cards-container-desktop > div {
  top: 100px;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mid-card {
  margin: 0px 16px;
  max-width: 560px;
  width: 30%;
}
#mid-cards-container-mobile {
  display: none;
}
#bigger-cards-section {
  margin-top: 200px;
  padding: 20px 0px;
}
#bigger-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 432px);
  gap: 20px;
  justify-items: center;
  justify-content: center;
}
.bigger-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 332px;
  width: 432px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.205);
}
.bigger-card-text {
  width: 367px;
  text-align: center;
}
#glasses-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#glasses-desktop {
  margin-bottom: 104px;
  max-width: 100%;
}
#glasses-mobile {
  display: none;
}
#glasses-text-container {
  text-align: center;
  line-height: 24px;
  max-width: 550px;
  width: 100%;

  margin-top: 130px;
  margin-bottom: 32px;
}
#glasses-text-container > h2 {
  line-height: 20px;
  margin-bottom: 18px;
}
footer {
  color: rgb(148, 148, 148);
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
  line-height: 15px;
}
#contact-container {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 22px;
}
footer > img {
  width: 24px;
}
#footer-text-desktop {
  font-size: 10px;
  margin-bottom: 10px;
}
#footer-text-mobile {
  font-size: 10px;
  display: none;
}
@media screen and (max-width: 960px) {
  section {
    justify-content: center;
    align-items: center;
  }
  .font-big {
    font-size: 28px;
  }
  .font-medium {
    font-size: 20px;
  }
  .font-small {
    font-size: 16px;
  }
  #main-banner {
    display: none;
  }
  #main-banner-mobile {
    display: block;
  }
  #infos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 90%;
    margin: auto;
  }
  #network-infos {
    width: 100%;
    margin-top: 84px;
    margin-bottom: 84px;
    margin-right: 0;
  }
  #network-text-infos {
    text-align: center;
  }
  #three-pc-img-container {
    margin-bottom: -100px;
    box-sizing: border-box;
  }
  #cards-section {
    padding: 30px 0px;
  }
  #cards-container {
    flex-direction: column;
  }
  .cards {
    margin: 10px 0px;
  }

  #mid-cards-container-desktop {
    display: none;
  }
  #mid-cards-container-mobile {
    width: 100%;
    background-color: #e0e0e0;
    height: 484px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #mid-cards-container-mobile > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 70px;
  }
  #mid-cards-container-mobile > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .mid-card-mobile {
    margin: 24px 7px;
  }
  #bigger-cards-container {
    grid-template-columns: repeat(auto-fit, 368px);
    margin-bottom: 80px;
  }
  .bigger-cards {
    max-width: 368px;
    max-height: 332px;
  }
  #glasses-container {
    flex-direction: column;
  }
  #glasses-text-container {
    margin-top: 40px;
    padding: 20px;
  }
  #glasses-text-container > h2 {
    font-size: 24px;
  }
  #glasses-desktop {
    display: none;
  }
  #glasses-mobile {
    display: block;
    width: 100%;
  }
  #footer-text-desktop {
    display: none;
  }
  #footer-text-mobile {
    display: block;
  }
}
@media screen and (max-width: 385px) {
  .cards {
    width: 232px;
    height: 268px;
  }
  .card-text {
    width: 200px;
  }
  #mid-cards-container-mobile > div {
    top: 10px;
  }
  .mid-card-mobile {
    width: 40%;
  }
  .mid-card-mobile-bigger {
    width: 80%;
  }
  .bigger-cards {
    width: 232px;
    height: 268px;
  }
  .bigger-card-text {
    width: 200px;
  }
  #glasses-desktop {
    margin: 0;
    margin-top: 80px;
    display: none;
  }
  #glasses-mobile {
    display: block;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1800px) {
  #bigger-cards-container {
    width: fit-content;
    grid-template-columns: 1fr 1fr;
  }
}
